.listings-container {
    width: 80%;
    margin: 80px auto;
}

.description-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    background: white;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 20px 0;
    box-shadow: 0px 8px 6px -6px var(--dk-primary);
}

.featured {
    border-left: 3px solid var(--dk-primary);
}

.desc-col {
    display: flex;
    width: 50%;
}

.desc-row {
    display: flex;
    align-items: center;
}

.desc-img {
    margin-right: 20px;
}

.desc-text {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.company {
    font-size: 16px;
    color: var(--dk-primary);
}

.new-tag {
    margin: auto 10px auto 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 600;
    font-size: 14px;
    background: var(--dk-primary);
    border-radius: 10px;
    color: white;
    width: 50px;
    height: 20px;
}

.feat-tag {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 600;
    font-size: 14px;
    background: var(--dk-neutral);
    border-radius: 10px;
    color: white;
    width: 80px;
    height: 20px;
}

.position {
    font-size: 24px;
    color: var(--dk-neutral);
}

.desc-bullets {
    font-size: 16px;
    color: var(--lt-neutral);
}

.filter-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.filter-btn {
    background: var(--filter-tabs);
    color: var(--dk-primary);
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin: 20px;
    padding: 5px 10px;
}

.filter-btn:hover {
    cursor: pointer;
}

.filter-tab-container {
    display: flex;
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 1200px) {
    

    .description-container {
        position: relative;
        flex-direction: column;
        max-width: 500px;
        margin: 50px auto;
    }

    .position {
        font-size: 16px;
    }

    .desc-img {
        position: absolute;
        top: -25px;
    }

    .desc-img > img {
        width: 50px;
    }

    .desc-col {
        width: 100%;
    }

    .desc-text {
        width: 100%;
        margin-top: 30px;
        grid-gap: 15px;
        padding-bottom: 20px;
        border-bottom: 2px solid var(--lt-neutral)
    }

    .filter-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
    }

    .filter-btn {
        margin: 20px 20px 20px 0;
    }
}

@media screen and (max-width: 580px) {
    .filter-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .filter-btn {
        margin: 10px 0 0;
    }
}